.enquryBg{
   background-color: rgb(244, 248, 250);
   padding-top: 30px;
   padding-bottom: 30px;
}
#self{
   display: flex;
}
#infoDesign{
   background-image: url("https://res.cloudinary.com/oasismanors/image/upload/v1684735057/Oasis_Design_djvozk.jpg");
   background-size: cover;	
   background-repeat: no-repeat;
   height: 850px;
}
#enquiryForm{
   padding: 20px;
}


/* Mobile */
@media (max-width: 700px) {
   #self{
      flex-direction: column;
      color: #1672eb;
   }
   #infoDesign{
      max-height: 380px; 
      padding: 0px 30px;
   }
  }