.dataBox{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.dataBox ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.dataBox ul li {
    border-left: 1px solid #082952;
    float: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.dataBox ul li a {
    font-size: 15px;
    font-family: Acumin-Pro, Helvetica Neue, Helvetica,"sans-serif";
    font-weight: 300;
    color: #082952;
    transition: all .5s;
}
.dataBox ul li a:hover{
    color: #2988c9;
}
#OasisLogo{
    width: 300px;
    transition: all 1s ease-out;
}
#OasisLogoComp{
    width: 200px;
    transition: all 1s ease-out;
}
#topHeader{
    margin-top: -20px;
    height:fit-content;
    width: 100%;
    position: fixed;
    z-index:9;
    background-color: #fff;
}
#navContainer{
    display: flex;
    align-items: center;
    padding: 0px;
}
#topHeader ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#topHeader ul li{
    float: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#topHeader ul li a{
    margin:0px;
    padding-left: 40px;
    font-size:18px;
    font-family:Acumin-Pro,Helvetica Neue,Helvetica,"sans-serif";
    font-weight:700;
    color: #082952;
    transition: all 0.5s ease-out;
}

#topHeader ul li:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #2988c9;
    text-decoration-thickness: 2px;
}

#headerCompress{
    width: 100%;
    position: fixed;
    margin-top: -20px;
    z-index:9;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerCompress ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#headerCompress ul li{
    float: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#headerCompress ul li a{
    margin:0px;
    padding-left: 30px;
    font-size:18px;
    font-family:Acumin-Pro,Helvetica Neue,Helvetica,"sans-serif";
    font-weight:700;
    color: #082952;
    transition: all 0.5s ease-in;
}
/* #headerCompress ul li:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #2988c9;
    text-decoration-thickness: 2px;
} */
.dropdownMenu{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding-top: 19px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownMenu a {
    color: #082952 !important;
    padding: 10px 30px !important;
    margin: 0px !important;
    text-decoration: none !important;
    display: block;
    text-align: left;
    transition: none !important;
}
.dropdownMenu a:hover{
    background-color: #082952 ;
    color: #fff !important;
}
#dropdownAbout{
    display: none;
  
}
#about:hover #dropdownAbout {
    display: block;
}

